/* 
This is default and very simple styles file for Yasb. 
For more information about configuration options, please visit the Wiki https://github.com/amnweb/yasb/wiki
*/
:root {
    --mauve: #cba6f7;
    --purple: #b59bd4;
    --red: #f38ba8;
    --yellow: #f9e2af;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --cream: #ebbcba;
    --text: #b59bd4;
    --subtext1: #020202;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #282936;
    --base: #1e1e2e;
    --crust: #1f1d2e;
}
/* Global styles for ToolTip */
QToolTip {
    padding: 6px;
    color: var(--purple);
    font-size: 12px;
    background-color: #1e1e2e;
    border: 0px solid #313244;
    border-radius: 6px;
}
* {
    font-size: 12px;
    color: var(--cream);
    font-weight: 600;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}
.yasb-bar {
    padding: 0;
    margin: 0;
    background-color: var(--crust);
    border-radius: 8px;
    border: 1px solid #313244;
}
.widget {
    padding: 0 12px;
    margin: 0;
}
.icon {
    font-size: 16px;
}
.widget .label {
    padding: 0px 2px;
}
.komorebi-active-layout {
    padding: 0 4px 0 0;
}
.komorebi-active-layout .label {
    font-weight: 600;
    padding: 2px 0 0 0;
}
.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container {
    background-color: var(--crust);
    margin: 3px 0 3px 0;
    border-radius: 12px;
    border: 1px solid var(--surface0);
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 4px;
}
.komorebi-workspaces {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    padding: 0 4px 0 0;
}
.komorebi-workspaces .offline-status {
    color: var(--surface2);
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: transparent;
    margin: 0;
    font-size: 12px;
    color: var(--overlay1);
    height: 28px;
    width: 18px;
}
.komorebi-workspaces .ws-btn:hover {
    color: var(--subtext1);
}
.komorebi-workspaces .ws-btn.populated {
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: var(--purple);
    border-radius: 5px;
    margin: 0 4px;
    font-size: 1px;
}
.komorebi-workspaces .ws-btn.active {
    color: transparent;
    background-color: var(--blue);
    width: 36px;
    max-width: 36px;
    height: 10px;
    margin: 0 4px;
    border-radius: 5px;
}
.apps-widget {
    padding: 0 4px 0 2px;
}
.apps-widget .label {
    font-size: 14px;
    padding: 0 2px;
    color: var(--cream);
}
.apps-widget .label:hover {
    color: var(--text);
}

.power-menu-widget .label {
    color: #f38ba8;
    font-size: 13px;
    margin-bottom: 2px;
}
.power-menu-popup {
    background-color: transparent
}
.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--crust);
    color: var(--text);
    border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 4px solid rgba(58, 59, 83, 0);
    border-bottom: 4px solid rgba(58, 59, 83, 0);
    margin: 0px;
}
.power-menu-popup .button.hover {
    background-color: var(--base);
    border-left: 4px solid var(--base);
    border-right: 4px solid var(--base);
    border-top: 4px solid var(--base);
    border-bottom: 4px solid var(--base);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--overlay2)
}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--surface2)
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
    color: var(--red);
    margin: 0;
}
.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

.volume-widget .icon {
    font-size: 14px;
    color: var(--purple);
    margin: 0px 4px 0 0;
}

.weather-widget,
.volume-widget {
    padding: 0 8px;
}

.weather-widget .icon {
    font-size: 18px;
    margin: 0 2px 1px 0;
    color: var(--purple);
}

.media-widget {
    padding: 0 0 0 4px;
    margin: 0;
    border-radius: 0;
}
.media-widget .label {
    color: var(--cream);
    padding: 0px;
    padding: 0 0 0 24px;
    font-size: 12px;
    text-align: right;
}
.media-widget .btn {
    color: var(--purple);
    padding: 0 4px;
    margin: 0;
    font-family: Segoe Fluent Icons;
    font-weight: 400;
}

.media-widget .btn:hover {
    color: #babfd3;
}

.media-widget .btn.play {
    font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #4e525c;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.home-widget {
    padding: 0 4px 2px 12px;
}

.home-widget .icon {
    color: var(--cream);
}

.home-widget .icon:hover {
    color: var(--text);
}
.home-menu {
    background-color: var(--crust);
    border-radius: 8px;
}

.home-menu .menu-item {
    padding: 8px 48px 9px 16px;
    font-size: 12px;
    font-family: 'Segoe UI';
    color: var(--text);
    font-weight: 600;
}

.home-menu .menu-item:hover {
    background-color: rgba(128, 130, 158, 0.15);
    color: #fff;
}
/* .home-menu .separator {
    max-height: 1px;
    background-color: rgba(128, 130, 158, 0.3);
} */

.notification-widget {
    padding: 0 0px 0 4px;
}

.notification-widget .icon {
    font-size: 14px;
} 

.notification-widget .icon.new-notification {
    color: var(--blue);
}

.memory-widget{
    padding: 0 4px;
}

.memory-widget .icon{
    font-size: 14px;
    padding: 0 4px;
    color: var(--purple);
}

.cpu-widget{
    padding: 0 4px;
}

.cpu-widget .icon{
    font-size: 14px;
    padding: 0 4px;
    color: var(--purple);
}

.wifi-widget{
    padding: 0 4px;
}

.wifi-widget .icon{
    font-size: 14px;
    padding: 0 4px;
    color: var(--purple);
}

.battery-widget{
    padding: 0 4px 0 2px;
}

.battery-widget .icon{
    font-size: 12px;
    padding: 0 4px 0 15px;
    color: var(--purple);
}

.glazewm-tiling-direction {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.glazewm-tiling-direction .btn {
    font-size: 18px;
    width: 14px;
    padding: 0 12px 0 4px;
    color: var(--cream);
    border: none;
}

.glazewm-tiling-direction .btn:hover {
    background-color: transparent;
}

.systray {
    background: transparent;
    border: None;
    margin: 0 -16px;
}

.systray .unpinned-container {
    background: #191724;
    border-radius: 8px;
    margin: 4px;
}

.systray .pinned-container {
    background: transparent;
}

.systray .pinned-container[forceshow=true] {
    background: var(--purple);
}

.systray .button {
    border-radius: 4px;
    padding: 2px 2px;
}

.systray .button:hover {
    background: transparent;
}

.systray .button[dragging=true] {
    background: var(--purple);
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .unpinned-visibility-btn:checked {
    background: transparent;
}

.clock-widget {
    margin: 0 -8px 0 -4px;
}